@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* background from https://garden.spoonflower.com/c/9845626/p/f/m/Qn7rDAjhJQaLpS0xNJYlGJ88KWcBFdIAqEBG1ow_oEjOAuTC_cplh290/Trendy%20Toilet%20Paper%20Tissue%20Rolls%20on%20Dark%20Blue.jpg */
.tpbackground {
  background-image: url('../public/tp-background.jpg');
}
/* pattern from https://t4.ftcdn.net/jpg/00/26/68/55/360_F_26685522_wjOLFMUKj165aI09J1MIVloglxS5AQZw.jpg */
.tppattern {
  background-image: url('../public/tp-pattern.jpg');
}
.round-corners{
  border-radius: .5rem;
}
.content {
  margin: 2.5rem auto;
  padding: 1.25rem;
}
.navbar-start .navbar-item:hover {
  background-color: transparent;
}
.navbar .navbar-menu{
  background-color: transparent;
  border: none;
}

/* .container {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
} */
